* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    cursor: pointer;
}

svg:hover {
    transform: scale(1.5);
}

svg:active #check-mark{
    animation: draw 1s ease-in-out;
    stroke: #55D21A;
}

svg:hover,
svg:active #check-mark {
    transition-duration: .3s;
}

@keyframes draw {
    from{
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
    }
}